.no-height {
    height: 0 !important;
}

.player-container {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 99;
    transition: all 1s;
}


.player-container--play {
    bottom: 0;
}

.player-cover {
    height: 160px;

    background-position: top center;
    background-size: cover;
    transition: height .4s;
}

.artist-info {
    padding: 0;
    overflow: hidden;
}

.artist-name,
.artist-song-name {
    margin: 0;
}

.artist-name {
    font-size: 0.75rem;
    font-weight: 400;
    color: #CDD2D8;
    padding: 10px 0;
    display: inline-block;
}

.artist-time {
    font-size: 0.9rem;
    text-align: right;
    font-weight: 300;
    color: #838C92;
    padding: 15px 0 5px 0;
    margin-bottom: 0;
    margin-right: 5px;
    float: right;
    display: inline-block;
}

.artist-time--left {
    text-align: left;
    float: left;
}

.artist-thumb {
    width: 60px;
    height: 60px;

    margin-top: 10px;

    display: none;
}

@media (min-width: 768px) {
    .artist-thumb {
        display: inline;
} }

.artist-song-name {
    font-size: 18px;
    font-weight: 400;
}

.player-progress-container {
    position: relative;

    width: 99%;
    height: 4px;
    margin: 0 auto;

    background-color: #414141;
    border-radius: 40px;
    cursor: pointer;
}

.player-progress-value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: #CDD2D8;
    border-radius: 20px;
}
.player-progress-value:after {
    position: absolute;
    top: -3px;
    right: -6px;
    content: '';

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #7748B5;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 2px;
}


.volume-progress-container {
    position: relative;

    width: 99%;
    height: 5px;
    margin: 0 auto;

    background-color:#838C92;
    border-radius: 40px;
    cursor: pointer;
    display: block;
}

.volume-progress-value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: #CDD2D8;
    border-radius: 20px;
}
.volume-progress-value:after {
    position: absolute;
    top: -3px;
    right: -6px;
    content: '';

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #7748B5;
    box-shadow: rgba(0,0,0,.2) 0 0 5px 2px;
}

.player-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}

.player-buttons {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.none {
    display: none !important;
}

.player-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: #838C92;

    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.player-btn:focus {
    outline: 0;
    border: 0;
}

.player-btn i {
    font-size: 28px;
    margin: 0 auto;
}

.player-btn.active {
    color: #D2D7DB;
}

.player-btn.big {
    width: 4rem;
    height: 4rem;
}

.player-btn.big i {
    font-size: 1.75rem;
}

.player-btn.cloud {
    text-decoration: none;
}
.player-btn.cloud i {
    font-size: 20px;
}

.player-btn.cloud:hover i {
    font-size: 30px;
}

.player-btn.cloud:hover {
    color: #D2D7DB;
    transition: all 0.5s;
}
.player-btn.act-cloud {
    color: #D2D7DB;
    font-size: 30px;
}

.player-btn.medium {
    width: 2.5rem;
    height: 2.5rem;
}

.player-btn.medium  i {
    font-size: 15px;
}

.player-btn.small {
    width: 2.5rem;
    height: 2.5rem;
}

.player-btn.small i {
    font-size: 20px;
}

.player-btn.volume {
    width: 2.5rem;
    margin-right: 5px;
}

.player-btn:disabled {
    opacity: .5;
}

.player-controls {
    width: 50%;
}

.player-controls .player-btn {
    color: #D9D9D9;

    background-color: #414141;
}

.thunder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    background-image: url('../img/storm-bg.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    z-index: 0;
}
.thunder:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    animation: thunder-bg 6s infinite;
}
@keyframes thunder-bg {
    0% {
      background-color: rgba(34,34,34,0.95);
    }

    9% {
      background-color: rgba(34,34,34,0.95);
    }
    10% {
      background-color: rgba(59,59,59,0.3);
    }
    10.5% {
      background-color: rgba(34,34,34,0.95);
    }
    80% {
      background-color: rgba(34,34,34,0.95);
    }
    82% {
      background-color: rgba(59,59,59,0.3);
    }
    83% {
      background-color: rgba(34,34,34,0.95);
    }
    83.5% {
      background-color: rgba(59,59,59,0.3);
    }
    100% {
      background-color: rgba(34,34,34,0.95);
    }
  }

.song-item {
    border-bottom: 2px solid rgba(233, 233, 233, 0.3);
    overflow: hidden;
    padding: 0 20px;
    align-items: center;}
    .song-item i, .song-item__time {
    color: #c7c5c5;
    cursor: pointer; }
    .song-item__name {
        font-family: 'Mada', sans-serif;
    color: #c7c5c5;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    width: 80%;
    cursor: pointer;
    line-height: 60px;
    display: inline-block;
    text-overflow: ellipsis;
    margin-left: 20px; }
    .song-item__time {
        font-family: 'Mada', sans-serif;
    float: right; }
    .song-item:hover {
    background: rgba(0, 0, 0, 0.3); }
.song-item--active {
    background: rgba(0, 0, 0, 0.3);
}

.song-item__action-remove {
    float: right;
    line-height: 60px;
}

.player {
position: relative;
z-index: 10; }
@media (min-width: 768px) {
    .player {
    overflow: hidden;
    height: 500px;
    margin-top: 30%;
    transform: translateY(-50%);}
    .player-container {
        background-color: rgba(0, 0, 0, 0.6);
    } 
    }
@media (min-width: 992px) {
    .player {
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.3); } }

.playlist {
background: rgba(0, 0, 0, 0.1); }
@media (min-width: 768px) {
    .playlist {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    overflow-y: scroll; } }
.playlist::-webkit-scrollbar {
    width: 2px;
}
    
.playlist-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
    
.playlist::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.player__media {
position: relative;
min-height: 30% }
@media (min-width: 768px) {
    .player__media {
    float: right;
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    top: 0; }
    .search {
        padding-bottom: 60px;
    }
 }

.player__media .background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header {
    background: rgba(0,0,0,0.6);
    height: 80px;
    padding: 0 40px;
    overflow: hidden;
    position: relative;
    z-index: 99;
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.3);
}

.header ul, 
.header li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.header li {
    display: inline-block;
}
  
.logo {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    border: 2px solid white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s;
    float: left;
}

.logo:hover {
    background: rgba(255,255,255,0.8);
    color: black;
}
  
.nav-bar {
    display: inline-block;
    float: right;
}

.nav-bar a {
    font-family: 'Oswald', sans-serif;
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    line-height: 20px;
    padding: 30px 10px;
}

.nav-bar a:hover {
    color: white;
}
  
.social {
    margin-left: 40px;
    float: right;
}

.social a {
    color: rgba(255,255,255,0.6);
    padding: 25px 5px;
    transition: all 0.5s;
}
.social a:hover {
    color: white;
}

.media-controls {
    position: relative;
    z-index: 12;
    overflow: hidden;
    padding: 10px 30px;
}

.toogle-menu {
    color: rgba(255,255,255,0.6);
    font-size: 1.5rem;
    transition: all 0.5s;
    float: right;  
}

.act-cloud {
    font-size: 30px;
    color: white;
}

.toogle-menu:hover {
    color: white;
}

.playlist__button {
    display: inline-block;
    text-align: right;
    width: 30%;
}

.playlist__online {
    display: inline-block;
    width: 20%;
}

.playlist__control input {
    width: 50%;
    background: transparent;
    color: rgba(255,255,255,0.6);
    border: none;
    border-bottom: 1px solid rgba(233, 233, 233, 0.3);
    padding: 5px 15px;
    margin: 5px 0;
}

.playlist__control input:focus {
    border: none;
    outline: none;
}

.playlist__control {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.5);
}


.search {
    padding-bottom: 90px;
  }

  .search.none {
      display: none;
  }

.search-form {
    position: relative;
}

.search-form__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.4);
    z-index: 9;
}

.search-form__close:hover {
    color: rgba(255, 255, 255, 0.9);
}

.search-fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background: #191919;
    visibility: hidden;
    opacity: 0;
    z-index: 20;
}

.search--active {
    opacity: 1;
    visibility: visible;
}
  .search input {
    width: 100%;
    font-size: 2rem;
    background: transparent;
    border: 0;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
  }
  .search input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  
  .track-card {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
  }
  .track-card__image {
    position: relative;
    background: #171819;
  }

  .track-card__image img {
      width: 100%;
      height: auto;
  }
  .track-card__main {
    position: relative;
    background: #1d1e1f;
  }
  .track-card__username {
    margin: 6px 20px 0;
    font-size: .8125rem;
    line-height: 20px;
  }
  .track-card__username a {
    color: #7d7e7f;
    text-decoration: none;
  }
  .track-card__title {
    white-space: nowrap;
    margin: 0 20px;
    color: #bdbebf;
    font-size: .875rem;
    line-height: 1.4285714286;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .track-card__action {
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .track-card__reaction {
    display: inline;
    float: left;
    padding: 5px 20px;
  }
  .track-card__reaction span {
    margin-left: 10px;
    color: #bdbebf;
    transition: all 0.5s;
    font-size: 0.875rem;
  }
  .track-card__reaction span:hover {
    color: white;
  }
  .track-card__addlist {
    float: right;
    display: inline;
    padding: 5px 20px;
  }
  .track-card__btn {
    color: #bdbebf;
    transition: all 0.5s;
    font-size: 1.25rem;
  }
  .track-card__btn:hover {
    color: white;
    font-weight: 500;
  }
  
  .track-card--compact {
    flex-direction: column;
    margin-bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #18191a;
    padding-top: 20px;
  }
.rain-setting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;
    transform: translateX(100%);
    transition: all 0.6s;
    background: rgba(0, 0, 0, 0.3);

    padding: 40px 50px;
}

.blur {
    filter: blur(10px);
}

.rain-setting.show {
    transform: translateX(0);
}

body {
    background: #191919;
}

.btn-next, .btn-prev {
    color: #bdbebf;
    display: inline-block;
    padding: 8px 20px;
    border: 2px solid #bdbebf;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.5s;
    font-weight: 500;
    text-decoration: none;
}

.btn-next:hover, .btn-prev:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
}

.pani {
    position: relative;
    z-index: 99;
    text-align: center;
}